MAIL_HOST="server.brtlbyntwrk.de"            # Falls Docker auf Linux
MAIL_PORT="25"                    # Standard-SMTP-Port
MAIL_FROM="no_reply@brtlbyntwrk.de"
SMTP_USER=no_reply@brtlbyntwrk.de
SMTP_PASSWORD=xxxxxxx
